<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArStpis3gK59cRPx6xQss_v0u_TZCHcQc</string>
	<key>GCM_SENDER_ID</key>
	<string>407457402667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskForFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-7d04a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-7d04a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407457402667:ios:8e5fd136eeae2b12097f6e</string>
</dict>
</plist>